@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap');


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(35, 49, 79);
    color: rgb(241, 241, 241);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.form p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}


.form input {
    padding: 0.5rem;
    border-radius: 500px;
    border: none;
    outline: none;
    margin-bottom: 1rem;
}

.form button {
    width: 50%;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
}